body, html {
    height: 100%;
    margin: 0;
  }
  
  .min-vh-100 {
    min-height: 100vh;
  }
  
  .full-height {
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire div */
  }
  
  .container {
    max-width: 100%;
  }
  
  .card-title {
    margin-bottom: 20px;
  }
  
  .p-0 {
    padding: 0 !important;
  }
  